<!doctype html>
<html lang="ko">

<head>
    <!-- common -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <!-- SEO : search engine optimization -->
    <meta name="description" content="퍼블리셔 정수빈의 포트폴리오입니다.">
    <meta name="keywords" content="웹디자이너 포트폴리오, 웹디포폴, 디자이너 포트폴리오, 퍼블리셔 포트폴리오, 퍼블리셔 포폴, 마크업 포트폴리오">
    <meta name="author" content="SubinJ">

    <!-- OG : opengraph -->
    <meta property="og:title" content="정수빈 포트폴리오.">
    <meta property="og:description" content="퍼블리셔 정수빈의 포트폴리오입니다.">
    <meta property="og:image" content="공유이미지 800x400">

    <!-- theme, favicon -->
	<link rel="manifest" href="/frontend/assets/images/favicon/manifest.json">
    <link rel="shortcut icon" type="image/x-icon" href="/frontend/assets/images/favicon/favicon.ico">

    <!-- title -->
    <title>마크업_pc</title>

    <!-- CSS -->
	<link rel="stylesheet" href="/frontend/assets/css/font.css">
	<link rel="stylesheet" href="/frontend/assets/css/reset.css">
	<link rel="stylesheet" href="/frontend/views/pc/common/css/default.css" />

    <!-- Javascript -->
    <script src="/frontend/assets/js/jquery-3.4.1.min.js"></script>
    <script src="/frontend/assets/js/prefixfree.min.js"></script>
	
	<script src="https://cdn.jsdelivr.net/npm/gsap@3.0.1/dist/gsap.min.js" charset="utf-8"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
	
</head>

<body>
	<div  id="main" class="container">
		<header id="header">
			<div class="header-inner">
				<h1 class="logo"><a href="/frontend/views/pc/default.html">Joongang Group</a></h1>
				<nav class="gnb">
					<ul>
						<li><a href="/">Newspaper</a></li>
						<li><a href="/">Broadcast</a></li>
						<li><a href="/">Multiplex</a></li>
						<li><a href="/">Leisure</a></li>
					</ul>
				</nav>
				<a href="javascript:void(0)" class="menu" ><!-- onclick="openNav()" -->
					<svg>
						<rect width="4" height="4"></rect>
						<rect x="10" width="4" height="4"></rect>
						<rect y="10" width="4" height="4"></rect>
						<rect x="10" y="10" width="4" height="4"></rect>
					</svg>
					<span class="center"></span>
				</a>
			</div>
		</header>
		
		<section class="main">
			<div class="intro">
				<div class="beforeScroll">
					<strong class="">
						<div class="txtLine">
							<span>세상과</span>
							<span>당신사이,</span>
							<span>중앙그룹이 있습니다.</span>
						</div>
					</strong>
					<em class="title-small">중앙일보, 현장의 진실을 중앙에 두다.</em>
					<strong class="title-section">Newspaper</strong>
				</div><!-- beforeScroll -->
			</div>

			<div class="thumb">
				<span class="bg section01">중앙일보 news 배경 이미지
					<div class="afterScroll">
						<strong>
							<div class="txtLine">
								<em>중앙일보,</em>
								<em>현장의 진실을</em>
								<em>중앙에 두다.</em>
							</div>
						</strong>
						<div class="showTxt">
							<p class="paragraph">
								<span>현장의 진실을, 통합의 가치를,</span>
								<span>내일의 성장을 중앙에 두겠다는</span>
								<span>의지를 담았습니다.</span>
								<span>보다 나은 내일을 위해 성장의 동력을</span>
								<span>지키고  공정 경쟁을 막는 편법과</span>
								<span>탈법을 견제합니다.</span>
							</p>
							<a href="">더 알아보기</a>
						</div>
					</div><!-- afterScroll -->
				</span>
			</div><!-- thumb -->

			<div class="copyright">
				@2020 Joongang Group Copyright</br>
				All Rights Reserverd.
			</div>
		</section>
		<style>
			.sec01_bg {width: 100%; height:100%; position:fixed; top:0; left:0; background:red ;}
			.sec01_bg .article {width:300px; height:300px; content:''; margin-left:-150px; margin-top:-150px; position:absolute; top:50%; left:50%;  background:red url("https://mpointmall.hyundaicard.com/upload/display/plan/theme/20200731180418_1.jpg");}
		</style>
		<section class="sec01">

			<div class="sec01_bg"><div class="article"></div></div>

			<div class="wrap">
				<div class="title-sub">
					<em>SERVICE</em>
					<h3>
						<strong>ABOUT URBAN LAUNDERETTE</strong>
					</h3>
				</div>
				<div class="listGrid">
					<ul>
						<li>
							<a href="">
								<p><img src="https://urbanlaunderette.com/wp-content/uploads/2020/04/main-service-01.jpg" alt=""></p>
								<dl>
									<dt>POWERED BY ‘MIELE’</dt>
									<dd>어반런드렛은 120년 전통의 독일 프리미엄 가전 브랜드, 밀레와 함께합니다. 밀레는 세계 최고 품질을 위해 최대 30,000 시간 동안 제품을 테스트하는 세계 유일의 브랜드입니다.</dd>
								</dl>
							</a>
						</li>
						<li>
							<a href="">
								<p><img src="https://urbanlaunderette.com/wp-content/uploads/2020/04/main-service-02-1.jpg" alt=""></p>
								<dl>
									<dt>THE WORLD’S HIGH QUALITY WASHING PROGRAM</dt>
									<dd>어반런드렛은 울 &amp; 패딩 소재의 의류와 극세사 &amp; 구스 이불 등 섬유별 최적의 세탁 프로그램을 제공하며, 민감성 섬유를 위한 국내 최초 무열 건조 코스를 제공합니다.</dd>
								</dl>
							</a>
						</li>
						<li>
							<a href="">
								<p><img src="https://urbanlaunderette.com/wp-content/uploads/2020/04/main-service-03.jpg" alt=""></p>
								<dl>
									<dt>ORGANIC LAUNDRY DETERGENT</dt>
									<dd>어반런드렛은 식물성 원료로 만든 천연 유래성분의 자연주의 세제만을 사용합니다. 소중한 우리 가족과 나의 피부에 직접 닿는 세탁물만큼은 더없이 안전하고 순해야 합니다.</dd>
								</dl>
							</a>
						</li>
						<li>
							<a href="">
								<p><img src="https://urbanlaunderette.com/wp-content/uploads/2020/04/main-service-05-1.jpg" alt=""></p>
								<dl>
									<dt>ORGANIC AROMA THERAPY</dt>
									<dd>품격있는 천연 아로마 오일을 통해 매장 내에서는 어반런드렛만의 편안하고 품격있는 향을 느끼실 수 있으며, 천연 울드라이어볼과 함께 아로마 건조 서비스를 이용하실 수 있습니다.</dd>
								</dl>
							</a>
						</li>
						<li>
							<a href="">
								<p><img src="https://urbanlaunderette.com/wp-content/uploads/2020/04/main-service-04.jpg" alt=""></p>
								<dl>
									<dt>THE CLEANEST SYSTEM</dt>
									<dd>소수의 화학물질은 사용 후 피부와 호흡기를<br>자극할 수 있습니다. 어반런드렛은 화학성분이 첨가된 물질을 사용하지 않으며, 천연 세척수를 통해 매일 드럼 세척을 진행합니다.</dd>
								</dl>
							</a>
						</li>
						<li>
							<a href="">
								<p><img src="https://urbanlaunderette.com/wp-content/uploads/2020/04/main-service-06.jpg" alt=""></p>
								<dl>
									<dt>ORGANIC LAUNDRY PRODUCT</dt>
									<dd>환경은 우리가 사용하는 소유물이 아니라 우리와 함께 하는 것이기에, 어반런드렛 매장에서 사용하는 런드리백과 위생용품 등은 100% 생분해 되는 친환경적인 소재로 제작하고 있습니다.</dd>
								</dl>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<div class="typeScrollx">
			<span>LIFE ARCHIVE SPACE.</span>
		</div>
		<style>
			.sec02{position:relative;}
			.sec02_bg{position:absolute; bottom:0; left:0; width:100%; height:0%; background:blue;}
		</style>
		<section class="sec02">
			<div class="sec02_bg">
			</div>
			<div class="wrap">
				<div class="title">
					<h3>복잡한 서류 제출을 간편하게, 내가 원하는 시간에</h3>
					<span>이사 날짜가 주말이나 공휴일이어도 전월세보증금 대출을 신청할 수 있습니다.</span>
					<div class="bg-sun">sun</div>
				</div>
				<div class="buttons">
					<a href="">마이너스 통장대출</a>
					<a href="">신용 대출</a>
					<a href="">개인사업자 대출</a>
					<a href="">전월세보증금 대출</a>
				</div>
			</div>
		</section>
		
		<section class="sec03">
			<div class="bg-hidden">
				<div class="txt">
					<span class="stroke">EXPERIENCE DESIGN</span>
					<button type="button">Download</button>
				</div>
			</div>
			<div class="bg-scroll">
				<ul>
					<li>
						<a href="">
							<p><img src="http://www.openfield.co.kr/assets/upload/files/200311130647_8204.jpg" alt=""></p>
							<div class="info">
								<div class="list-title">
									<strong>INSOME</strong>
								</div>
								<div class="list-desc">
									<em>친구초대 플랫폼 인썸</em>
								</div>
								<span>Mobile / App</span>
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<p><img src="http://www.openfield.co.kr/assets/upload/files/200325151454_7382.jpg" alt=""></p>
							<div class="info">
								<div class="list-title">
									<strong>WIDETNS</strong>
								</div>
								<div class="list-desc">
									<em>와이드티엔에스 반응형웹</em>
								</div>
								<span>Mobile / App</span>
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<p><img src="http://www.openfield.co.kr/assets/upload/files/200311160005_1992.jpg" alt=""></p>
							<div class="info">
								<div class="list-title">
									<strong>대림코퍼레이션</strong>
								</div>
								<div class="list-desc">
									<em>DAELIM MP SYSTEM</em>
								</div>
								<span>Mobile / App</span>
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<p><img src="http://www.openfield.co.kr/assets/upload/files/200317115008_4068.jpg" alt=""></p>
							<div class="info">
								<div class="list-title">
									<strong>HYUNDA THE-H</strong>
								</div>
								<div class="list-desc">
									<em>현대 THE-H 커뮤니티 앱</em>
								</div>
								<span>Mobile / App</span>
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<p><img src="http://www.openfield.co.kr/assets/upload/files/200324174435_7480.jpg" alt=""></p>
							<div class="info">
								<div class="list-title">
									<strong>웹쟁이</strong>
								</div>
								<div class="list-desc">
									<em>Free Down web source</em>
								</div>
								<span>Mobile / App</span>
							</div>
						</a>
					</li>
				</ul>
				<div class="scrollbar">
					<span></span>
				</div>
			</div>
		</section>

		<section class="sec04">
			<div class="fixedLeft">
				<div class="inner">
					<h3 class="">리스트</h3>
					<ul>
						<li style="background-image: url(&quot;https://mpointmall.hyundaicard.com/upload/display/plan/theme/20200731180418_1.jpg&quot;);"><a href="">리스트1</a></li>
						<li><a href="">리스트2</a></li>
						<li><a href="">리스트3</a></li>
					</ul>
				</div>
			</div>
			<div class="fixedRight">
				<div class="inner">
					<ul>
						<li class="on">
							<div class="title">
								<strong>자동차금융</strong>
								<em>어떤 차량을 원하시나요?</em>
							</div>
							<div class="btn-wrap">
								<button type="button">신차</button>
								<button type="button">중고차</button>
							</div>
						</li>
						<li>
							<div class="title">
								<strong>신용대출</strong>
								<em>어떤 조건을 더 선호하세요?</em>
							</div>
							<div class="btn-wrap">
								<button type="button">신용대출</button>
								<button type="button">자동차담보대출</button>
							</div>
						</li>
						<li>
							<div class="title">
								<strong>주택대출</strong>
								<em>어떤 대출이 더 필요하신가요?</em>
							</div>
							<div class="btn-wrap">
								<button type="button">주택담보대출</button>
								<button type="button">보금자리론</button>
							</div>
						</li>
					</ul>
				</div>
				<div class="listBg">
					<ul>
						<li>
							<a class="">
								<span>01.</span>
								<strong>Highway</strong>
							</a>
						</li>
						<li>
							<a class="">
								<span>02.</span>
								<strong>Youbase</strong>
							</a>
						</li>
						<li>
							<a class="">
								<span>03.</span>
								<strong>Mobile Interaction</strong>
							</a>
						</li>
						<li>
							<a class="">
								<span>04.</span>
								<strong>Enginethemes</strong>
							</a>
						</li>
						<li>
							<a class="">
								<span>05.</span>
								<strong>Rockythemes</strong>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section class="sec05">
			다음 마크업
		</section>
	</div>

	<div id="mySidenav" class="sidenav">
		<div>
			<ul>
				<li><a href="">메뉴1</a></li>
				<li><a href="">메뉴2</a></li>
				<li><a href="">메뉴3</a></li>
				<li><a href="">메뉴4</a></li>
			</ul>
		</div>
		<a href="javascript:void(0)" class="btnClose" onclick="closeNav()">닫기</a>
	</div>

	<style>
		body.on{background:#f4f0e8; }
		#main{transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1);}
		#main.fix{
			overflow: hidden;
			position: relative;
			z-index: 10;
			transform: scale(0.8) translateX(-32vw) translateZ(0)!important;
			height: 100vh;
			background: #fff;
		}
		.thumb {
			width:800px; margin:auto;
		}
		.thumb .bg																		{display:block; width:360px; max-width:1920px; height:345px; max-height:3300px; margin:auto; -webkit-filter:grayscale(100%);}
		.thumb .bg.section01												{background:url(/frontend/views/pc/img/file/img_kv01.jpg) 0 0 no-repeat; background-size:cover ;}
	</style>

	<script>
			$(function(){

				$('.menu').click(function(){
					$('body,.sidenav').addClass('on')
					$('#main').addClass('fix')
				})

				$('.btnClose').click(function(){
					$('body,.sidenav').removeClass('on')
					$('#main').removeClass('fix')
				})

				var controller = new ScrollMagic.Controller();

				
				/*
				var tween1 = TweenMax.to('.bg.section01', 0.5, {
					width:"100%",
					height:"",
				});
				*/
				var tween2 = TweenMax.to('.thumb', 0.5, {
					width:"100%",
				});

				var tween1 = new TimelineMax()
				.fromTo(".bg.section01", 1, {width:"100%"}, {height:"100vh"} )
				.fromTo(".afterScroll .txtLine", 1, {marginTop:""}, {opacity:"1"} )
			
				var scene = new ScrollMagic.Scene({
					triggerElement: ".title-section", 
					duration: "0%"
				})
				.setTween(tween1)
				.addTo(controller)
				.addIndicators({
					name: "1"
				}) 
				var scene = new ScrollMagic.Scene({
					triggerElement: ".title-section", 
					duration: "0%"
				})
				.setTween(tween2)
				.addTo(controller)
				.addIndicators({
					name: "1"
				}) 
				
				var tween3 = TweenMax.to('.sec01_bg .article', 0.5, {
					y:150,
					  });
					  var scene = new ScrollMagic.Scene({
						  triggerElement: ".sec01 .wrap",
						  duration: "500%"
					  })
					  .setTween(tween3)
					  .addTo(controller)
					  .addIndicators({
						  name: "1"
				  })

				  var sec02_bg = TweenMax.to('.sec02_bg', 0.5, {
					height:"100%",
					  });
					  var scene = new ScrollMagic.Scene({
						  triggerElement: ".sec02",
						  duration: "0%",
						  offset:400,
					  })
					  .setTween(sec02_bg)
					  .addTo(controller)
					  .addIndicators({
						  name: "1"
				  })

				  var controller = new ScrollMagic.Controller();
					var wipeAnimation = new TimelineMax()
					.fromTo(".sec03 .bg-scroll ul", 1, {x:"0%"}, {x:"-150%"} )
				
					var scene = new ScrollMagic.Scene({
						triggerElement: ".sec03",
						triggerHook: "onLeave",
						duration: "700%" //이 값이 클 수록 천천히 덮어씀
					})
					.setPin(".sec03")
					.setTween(wipeAnimation)
					.addTo(controller);
				
					
				  gsap.to(".sec04 .fixedRight .listBg ul li", 1, {
					duration: 1,
					opacity:1,
					y:0,
					 stagger: 0.5
				  });

				/*
				$(window).scroll(function(){
					sc = $(window).scrollTop()	
					TweenLite.to('.sec01_bg .article', 0.5,
						{
							y: -sc/2,
						}
					);
				})*/

			})
		</script> 

</body>
</html>