<!doctype html>
<html lang="ko">

<head>
    <!-- common -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <!-- SEO : search engine optimization -->
    <meta name="description" content="디자이너, 퍼블리셔 정수빈의 포트폴리오입니다.">
    <meta name="keywords" content="웹디자이너 포트폴리오, 웹디포폴, 디자이너 포트폴리오, 퍼블리셔 포트폴리오, 퍼블리셔 포폴, 퍼블포폴">
    <meta name="author" content="SubinJ">

    <!-- OG : opengraph -->
    <meta property="og:title" content="정수빈 포트폴리오.">
    <meta property="og:description" content="디자이너, 퍼블리셔 정수빈의 포트폴리오입니다.">
    <meta property="og:image" content="공유이미지 800x400">

    <!-- theme, favicon -->
	<link rel="manifest" href="/frontend/assets/images/favicon/manifest.json">
    <link rel="shortcut icon" type="image/x-icon" href="/frontend/assets/images/favicon/favicon.ico">

    <!-- title -->
    <title>Disney Plus</title>

    <!-- CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
	<link rel="stylesheet" href="/frontend/assets/css/font.css">
	<link rel="stylesheet" href="/frontend/assets/css/reset.css">
	<link rel="stylesheet" href="/frontend/assets/css/responsive.css" />
	

    <!-- Javascript -->
    <script src="/frontend/assets/js/jquery-3.4.1.min.js"></script>
	<script src="/frontend/assets/js/swiper-bundle.min.js"></script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
	
	<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>


</head>

<body>
	<div class="container">
		<div class="section parallax">
			<div class="bg-parent">
				<div class="overlay"></div>
				<div class="bg-scroll"></div>
				<div class="bg-cont"></div>
				<div class="intro">
					<h1>logo<img src="/frontend/views/responsive/img/logo.png" alt="디즈니플러스 로고입니다."></h1>
				</div>
			</div>
		</div><!-- parallax -->

		<div class="section main">
			<div class="main-bg">
				<img src="/frontend/views/responsive/img/bg-main01.jpg" alt="">
			</div>
			<div class="inner">
				<div class="header">
					<a href="javascript:void(0)"><img src="/frontend/views/responsive/img/logo.png" alt="디즈니플러스 로고입니다."></a>
					<nav class="gnb">
						<ul>
							<li><a href="javascript:void(0)" data-target="new-movie">What's new</a></li>
							<li><a href="javascript:void(0)" data-target="mypage">my</a></li>
							<li><a href="javascript:void(0)" data-target="category">category</a></li>
							<li><a href="javascript:void(0)" data-target="news">news</a></li>
						</ul>
					</nav>

					<script>
						$(function(){
							$('.gnb a').click(function(){
								target =  $(this).data('target');
								target_h = $('.'+target).offset().top;
								$('html,body').animate({scrollTop:target_h},300)
							})
						})
					</script>
					<div class="gnb-mobile">
						<div class="menu-icon">
							<div>
								<span></span>
								<span></span>
							</div>
						</div>
					</div>
					<div class="menu">
						<ul>
							<li><a href="javascript:void(0)">What's new</a></li>
							<li><a href="javascript:void(0)">my</a></li>
							<li><a href="javascript:void(0)">category</a></li>
							<li><a href="javascript:void(0)">news</a></li>
						</ul>
					</div>
				</div>
			</div><!-- inner -->
			<script>


				$(function(){


					 var controller = new ScrollMagic.Controller();
    
					var tween1 = TweenMax.to('.bg-scroll', 0.5, {
						scale: 2.5,
					});

					var tween2 = TweenMax.to('.bg-cont', 0.5, {
						scale: 1.1,
					});

					var tween3 = TweenMax.to('.overlay', 0.5, {
						opacity: 1,
						visibility:'visible'
					});

					h = $(window).height()
					var scene = new ScrollMagic.Scene({
						triggerElement: ".parallax",
						duration: "100%",
						offset:h
					})
					.setTween(tween1)
					.addTo(controller)
					.addIndicators({
						name: "1"
					}) 

					var scene = new ScrollMagic.Scene({
						triggerElement: ".parallax",
						duration: "100%",
						offset:h
					})
					.setTween(tween2)
					.addTo(controller)
					.addIndicators({
						name: "1"
					}) 

					var scene = new ScrollMagic.Scene({
						triggerElement: ".parallax",
						duration: "100%",
						offset:h*2
					})
					.setTween(tween3)
					.addTo(controller)
					.addIndicators({
						name: "1"
					}) 


					$('.menu-icon').click(function(){
						if($(this).hasClass('on')){
							$('.menu').removeClass('on');
							$(this).removeClass('on')
						}else{
							$('.menu-icon').addClass('on')
							$('.menu').addClass('on');
						}
					})
				})
			</script>
			
			<!-- pc 메인 롤링배너 -->
			<div class="movie-list swiper-container">
				<h2>메인 롤링 배너</h2>
				<ul class="swiper-wrapper">
					<li class="swiper-slide on" data-src="/frontend/views/responsive/img/bg-main01.jpg">
						<div>
							<span class="bg01"></span>
							<dl>
								<dt>토이스토리4</dt>
								<dd><h3 class="rank1">이번주 1위</h3></dd>
								<dd><span class="classify all">A</span><span>100분</span><span>애니메이션</span></dd>
							</dl>
						</div>
					</li>
					<li class="swiper-slide" data-src="/frontend/views/responsive/img/bg-main02.jpg">
						<div>
							<span class="bg02"></span>
							<dl>
								<dt>뮬란</dt>
								<dd><h3 class="rank2">이번주 2위</h3></dd>
								<dd><span class="classify age12">12</span><span>115분</span><span>드라마</span></dd>
							</dl>
						</div>
					</li>
					<li class="swiper-slide" data-src="/frontend/views/responsive/img/bg-main03.jpg">
						<div>
							<span class="bg03"></span>
							<dl>
								<dt>어벤저스:엔드게임</dt>
								<dd><h3 class="rank">이번주 3위</h3></dd>
								<dd><span class="classify age15">15</span><span>100분</span><span>애니메이션</span></dd>
							</dl>
						</div>
					</li>
					<li class="swiper-slide">
						<div>
							<span class="bg04"></span>
							<dl>
								<dt>알라딘</dt>
								<dd><h3 class="rank">이번주 3위</h3></dd>
								<dd><span class="classify age19">19</span><span>100분</span><span>드라마</span></dd>
							</dl>
						</div>
					</li>
					<li class="swiper-slide">
						<div class="">
							<span class="bg05"></span>
							<dl>
								<dt>라이온킹</dt>
								<dd><h3 class="rank">이번주 5위</h3></dd>
								<dd><span class="classify all">A</span><span>100분</span><span>애니메이션</span></dd>
							</dl>
						</div>
					</li>
					<li class="swiper-slide">
						<div class="">
							<span class="bg06"></span>
							<dl>
								<dt>겨울왕국2</dt>
								<dd><h3 class="rank">이번주 6위</h3></dd>
								<dd><span class="classify all">A</span><span>100분</span><span>애니메이션</span></dd>
							</dl>
						</div>
					</li>
				</ul>

				<!-- Add Arrows -->
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>

				<!-- Add Pagination -->
				<div class="swiper-pagination"></div>
			</div>
			
			<!-- 모바일 메인 롤링배너 -->
			<div class="movie-mobile swiper-container">
				<ul class="swiper-wrapper">
					<li class="swiper-slide on">
						<div>
							<span class="bg01"><img src="/frontend/views/responsive/img/bg-main01-verti.jpg" alt=""></span>
							<dl>
								<dt>토이스토리4</dt>
								<dd><h3 class="rank1">이번주 1위</h3></dd>
								<dd><span class="classify all">A</span><span>100분</span><span>애니메이션</span></dd>
							</dl>
						</div>
					</li>
					<li class="swiper-slide">
						<div>
							<span class="bg02"><img src="/frontend/views/responsive/img/bg-main02-verti.jpg" alt=""></span>
							<dl>
								<dt>뮬란</dt>
								<dd><h3 class="rank1">이번주 2위</h3></dd>
								<dd><span class="classify all">12</span><span>100분</span><span>드라마</span></dd>
							</dl>
						</div>
					</li>
					<li class="swiper-slide">
						<div>
							<span class="bg03"><img src="/frontend/views/responsive/img/bg-main03-verti.jpg" alt=""></span>
							<dl>
								<dt>어벤저스:엔드게임</dt>
								<dd><h3 class="rank1">이번주 3위</h3></dd>
								<dd><span class="classify all">12</span><span>100분</span><span>드라마</span></dd>
							</dl>
						</div>
					</li>
					<li class="swiper-slide">
						<div>
							<span class="bg04"><img src="/frontend/views/responsive/img/bg-main04-verti.jpg" alt=""></span>
							<dl>
								<dt>알라딘</dt>
								<dd><h3 class="rank1">이번주 4위</h3></dd>
								<dd><span class="classify all">12</span><span>100분</span><span>드라마</span></dd>
							</dl>
						</div>
					</li>
					<li class="swiper-slide">
						<div>
							<span class="bg05"><img src="/frontend/views/responsive/img/bg-main05-verti.jpg" alt=""></span>
							<dl>
								<dt>라이온킹</dt>
								<dd><h3 class="rank1">이번주 5위</h3></dd>
								<dd><span class="classify all">12</span><span>100분</span><span>드라마</span></dd>
							</dl>
						</div>
					</li>
					<li class="swiper-slide">
						<div class="">
							<span class="bg06"><img src="/frontend/views/responsive/img/bg-main06-verti.jpg" alt=""></span>
							<dl>
								<dt>겨울왕국2</dt>
								<dd><h3 class="rank">이번주 6위</h3></dd>
								<dd><span class="classify all">A</span><span>100분</span><span>애니메이션</span></dd>
							</dl>
						</div>
					</li>
				</ul>

				<!-- Add Pagination -->
				<div class="swiper-pagination"></div>
			</div>
			<script>
				var swiper = new Swiper('.movie-list.swiper-container', {
				  slidesPerView: 3,
				  spaceBetween: 50,
				  centeredSlides: true,
				  loop: true,
				  pagination: {
					el: '.swiper-pagination',
					type: 'progressbar',
					clickable: true,
				  },
				  navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev',
				  },
				  on:{
					slideChangeTransitionStart:function(){
						
					}
				  }
				});
				
				//$('.movie-list li').click(fucntion(){
					//src = $(this).data('src');

				//	$('.main-bg img').attr('src',src);
				//})

				var swiper = new Swiper('.movie-mobile.swiper-container', {
				  slidesPerView:1,
				  spaceBetween: 0,
				  centeredSlides: true,
				  loop: true,
				  pagination: {
					el: '.swiper-pagination',
					type: 'progressbar',
					clickable: true,
				  },
				});
			</script>
		</div><!-- main -->

		<div class="section new-movie">
			<div class="inner">
				<div class="wrap-title">
					<h4>What's new<span>on november</span></h4>
					<ol class="monthly">
						<li class="on"><strong>11월</strong>nov</li>
						<li><strong>12월</strong>dec</li>
						<li><strong>1월</strong>jan</li>
						<li><strong>2월</strong>feb</li>
					</ol>
				</div>
				<div class="video-touch ">
					<div class="video-list tab-cont ">
						<ul id="tap0" class="on "> <!-- 11월 개봉 -->
							<li class="list08">
								<a href="javascript:void(0)">
									<i class="fas fa-heart on"></i>
									<span><img src="/frontend/views/responsive/img/bg-main08.jpg" alt=""></span>
									<dl>
										<dt>Soul</dt>
									</dl>
								</a>
							</li>
							<li class="list09">
								<a href="javascript:void(0)">
									<i class="fas fa-heart"></i>
									<span><img src="/frontend/views/responsive/img/bg-main09.jpg" alt=""></span>
									<dl>
										<dt>The Falcon and The Winter Soldier</dt>
									</dl>
								</a>
							</li>
							<li class="list11">
								<a href="javascript:void(0)">
									<i class="fas fa-heart"></i>
									<span><img src="/frontend/views/responsive/img/bg-main11.jpg" alt=""></span>
									<dl>
										<dt>FREE GUY</dt>
									</dl>
								</a>
							</li>
							<li class="list">
								<a href="javascript:void(0)">
									<span><img src="/frontend/views/responsive/img/bg-main.jpg" alt=""></span>
									<dl>
										<dt>업데이트 예정</dt>
									</dl>
								</a>
							</li>
						</ul>
						<ul id="tap1" class=""> <!-- 12월 개봉 -->
							<li class="list13">
								<a href="javascript:void(0)">
									<i class="fas fa-heart"></i>
									<span><img src="/frontend/views/responsive/img/bg-main13.jpg" alt=""></span>
									<dl>
										<dt>Black is King</dt>
									</dl>
								</a>
							</li>
							<li class="list14">
								<a href="javascript:void(0)">
									<i class="fas fa-heart"></i>
									<span><img src="/frontend/views/responsive/img/bg-main14.jpg" alt=""></span>
									<dl>
										<dt>Artemis Fowl</dt>
									</dl>
								</a>
							</li>
							<li class="list">
								<a href="javascript:void(0)">
									<span><img src="/frontend/views/responsive/img/bg-main.jpg" alt=""></span>
									<dl>
										<dt>업데이트 예정</dt>
									</dl>
								</a>
							</li>
							<li class="list">
								<a href="javascript:void(0)">
									<span><img src="/frontend/views/responsive/img/bg-main.jpg" alt=""></span>
									<dl>
										<dt>업데이트 예정</dt>
									</dl>
								</a>
							</li>
						</ul>
						<ul id="tap2" class=""> <!-- 1월 개봉 -->
							<li class="list07">
								<a href="javascript:void(0)">
									<i class="fas fa-heart"></i>
									<span><img src="/frontend/views/responsive/img/bg-main07.jpg" alt=""></span>
									<dl>
										<dt>WandaVision</dt>
									</dl>
								</a>
							</li>
							<li class="list10">
								<a href="javascript:void(0)">
									<i class="fas fa-heart"></i>
									<span><img src="/frontend/views/responsive/img/bg-main10.jpg" alt=""></span>
									<dl>
										<dt>Black widow</dt>
									</dl>
								</a>
							</li>
							<li class="list">
								<a href="javascript:void(0)">
									<span><img src="/frontend/views/responsive/img/bg-main.jpg" alt=""></span>
									<dl>
										<dt>업데이트 예정</dt>
									</dl>
								</a>
							</li>
							<li class="list">
								<a href="javascript:void(0)">
									<span><img src="/frontend/views/responsive/img/bg-main.jpg" alt=""></span>
									<dl>
										<dt>업데이트 예정</dt>
									</dl>
								</a>
							</li>
						</ul>
						<ul id="tap3" class=""> <!-- 2월 개봉 -->
							<li class="list12">
								<a href="javascript:void(0)">
									<i class="fas fa-heart"></i>
									<span><img src="/frontend/views/responsive/img/bg-main12.jpg" alt=""></span>
									<dl>
										<dt>RAYA:The Last Dragon</dt>
									</dl>
								</a>
							</li>
							<li class="list15">
								<a href="javascript:void(0)">
									<i class="fas fa-heart"></i>
									<span><img src="/frontend/views/responsive/img/bg-main15.jpg" alt=""></span>
									<dl>
										<dt>ETERNALS</dt>
									</dl>
								</a>
							</li>
							<li class="list">
								<a href="javascript:void(0)">
									<span><img src="/frontend/views/responsive/img/bg-main.jpg" alt=""></span>
									<dl>
										<dt>업데이트 예정</dt>
									</dl>
								</a>
							</li>
							<li class="list">
								<a href="javascript:void(0)">
									<span><img src="/frontend/views/responsive/img/bg-main.jpg" alt=""></span>
									<dl>
										<dt>업데이트 예정</dt>
									</dl>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<script>
					$(function(){
						$('.monthly > li').click(function(){ //달별 vod 오픈

							$('.monthly > li').removeClass('on')
							$(this).addClass('on')
							
							

							idx = $(this).index()
							$('.video-list > ul').removeClass('on')
							$('#tap'+idx).addClass('on')

							TweenMax.killAll();
							 // gsap.to('#tap'+idx+' li', {duration: 1, rotation:360, y:100, stagger: 0.5});

							new TweenMax.staggerFromTo('#tap'+idx+' li', 0.4,{y:20,opacity:0,},{y: 0,opacity:1},0.2);
						})
					})
				</script>
			</div>
		</div><!-- new-movie -->
		
		<div class="section mypage">
			<div class="inner">
				<h4>MY</h4>
				<div class="info">
					<span>회원사진 썸네일</span>
					<dl>
						<dt>
							<strong>디즌이</strong> 님
							<a href="javascript:void(0)"><i class="fas fa-cog"></i></a>
						</dt>
						<dd>프리미엄 구독</dd>
					</dl>
				</div>
				<div class="my-video">
					<ul class="tab-title">
						<li class="on"><a href="javascript:void(0)">시청중인 콘텐츠</a></li>
						<li><a href="javascript:void(0)">찜한 콘텐츠</a></li>
					</ul>
					<div class="video-recent">
						<strong>시청중인 콘텐츠</strong>
						<div class="wrap-list">
							<span class="video-thumb"><img src="/frontend/views/responsive/img/bg-main01-verti.jpg" alt=""></span>
							<ul>
								<li class="list01 on">
									<span><img src="/frontend/views/responsive/img/bg-main01-verti.jpg" alt=""></span>
									<div class="list-desc">
										<strong>토이스토리4</strong>
										<div class="gauge-bar">
											<div>
												<span></span>
											</div>
											<em>56분 04초 남음</em>
										</div>
									</div>
								</li>
								<li class="list09">
									<span><img src="/frontend/views/responsive/img/bg-main09.jpg" alt=""></span>
									<div class="list-desc">
										<strong>The Falcon and The Winter Soldier</strong>
										<div class="gauge-bar">
											<div>
												<span></span>
											</div>
											<em>56분 04초 남음</em>
										</div>
									</div>
								</li>
								<li class="list03">
									<span><img src="/frontend/views/responsive/img/bg-main03-verti.jpg" alt=""></span>
									<div class="list-desc">
										<strong>어벤저스:엔드게임</strong>
										<div class="gauge-bar">
											<div>
												<span></span>
											</div>
											<em>56분 04초 남음</em>
										</div>
									</div>
								</li>
								<li class="list04">
									<span><img src="/frontend/views/responsive/img/bg-main04-verti.jpg" alt=""></span>
									<div class="list-desc">
										<strong>알라딘</strong>
										<div class="gauge-bar">
											<div>
												<span></span>
											</div>
											<em>56분 04초 남음</em>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="video-recent">
						<strong>찜한 콘텐츠</strong>
						<div class="wrap-list">
							<ul>
								<li class="list01">
									<span><img src="/frontend/views/responsive/img/bg-main15.jpg" alt=""></span>
									<div class="list-desc">
										<strong>ETERNALS</strong>
									</div>
								</li>
								<li class="list09">
									<span><img src="/frontend/views/responsive/img/bg-main14.jpg" alt=""></span>
									<div class="list-desc">
										<strong>Artemis Fowl</strong>
									</div>
								</li>
								<li class="list03">
									<span><img src="/frontend/views/responsive/img/bg-main13.jpg" alt=""></span>
									<div class="list-desc">
										<strong>Black is King</strong>
									</div>
								</li>
								<li class="list04">
									<span><img src="/frontend/views/responsive/img/bg-main12.jpg" alt=""></span>
									<div class="list-desc">
										<strong>RAYA:The Last Dragon</strong>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!-- mypage -->
		<script>
			$(function(){
				$('.video-list > ul > li > a > i').click(function(){ //좋아요 버튼
					if($(this).hasClass('on')){
						$(this).removeClass('on')
					}else{
						$(this).addClass('on')
					}
				});
			})
		</script>

		<div class="section category">
			<div class="inner">
				<h4>category</h4>
				<div class="wrap-select">
					<div class="title-select">
						<strong>브랜드</strong>
						<div class="brand-top">
							<em><span>Disney</span> <i class="close">삭제</i></em>
						</div>
					</div>
					<ul class="brand-list brand_list01">
						<li class="on">Disney</li>
						<li>20th Century Studios</li>
						<li>Pixar</li>
						<li>Marvel</li>
						<li>Star Wars</li>
						<li>National Geographic</li>
					</ul>
					
					<div class="title-select">
						<strong>장르</strong>
						<em>SF/판타지<i onclick="">삭제</i></em>
						<em>애니메이션<i onclick="">삭제</i></em>
					</div>
					<ul class="brand-list">
						<li>액션</li>
						<li>코미디</li>
						<li>드라마</li>
						<li>멜로</li>
						<li>공포/스릴러</li>
						<li class="on">SF/판타지</li>
						<li class="on">애니메이션</li>
						<li>다큐멘터리</li>
					</ul>
				</div>

				<script>
					$(function(){
						$('.brand_list01 li').click(function(){
							if($(this).hasClass('on')){
								$(this).removeClass('on')

								$('.brand-top').empty();
								
								  $('.brand_list01 li').each(function (index, item) {
									 if($(this).hasClass('on')){
									   brand_txt2 = $(this).text();
									  $('.brand-top').append('<em><span>'+brand_txt2+'</span> <i class="close">삭제</i></em>')
									 }
								  });
							}else{
								$(this).addClass('on');
								brand_txt = $(this).text();
								$('.brand-top').append('<em><span>'+brand_txt+'</span> <i class="close">삭제</i></em>');
							}
						})

						$(document).on("click",".close",function(){
							$(this).parents('em').remove()
							//txt = $(this)
						})
					})
				</script>
				
				<div class="result">
					<span>총 <strong>220</strong>개</span>
				</div>
				<div class="video-list">
					<ul>
						<li class="list05">
							<a href="javascript:void(0)">
								<i class="fas fa-heart"></i>
								<span><img src="/frontend/views/responsive/img/bg-main05-verti.jpg" alt=""></span>
								<dl>
									<dt>라이온킹</dt>
								</dl>
							</a>
						</li>
						<li class="list06">
							<a href="javascript:void(0)">
								<i class="fas fa-heart"></i>
								<span><img src="/frontend/views/responsive/img/bg-main06-verti.jpg" alt=""></span>
								<dl>
									<dt>겨울왕국2</dt>
								</dl>
							</a>
						</li>
						<li class="list07">
							<a href="javascript:void(0)">
								<i class="fas fa-heart"></i>
								<span><img src="/frontend/views/responsive/img/bg-main07.jpg" alt=""></span>
								<dl>
									<dt>완다비전</dt>
								</dl>
							</a>
						</li>
						<li class="list08">
							<a href="javascript:void(0)">
								<i class="fas fa-heart"></i>
								<span><img src="/frontend/views/responsive/img/bg-main08.jpg" alt=""></span>
								<dl>
									<dt>소울</dt>
								</dl>
							</a>
						</li>
						<li class="list01">
							<a href="javascript:void(0)">
								<i class="fas fa-heart"></i>
								<span><img src="/frontend/views/responsive/img/bg-main01-verti.jpg" alt=""></span>
								<dl>
									<dt>토이스토리</dt>
								</dl>
							</a>
						</li>
						<li class="list02">
							<a href="javascript:void(0)">
								<i class="fas fa-heart"></i>
								<span><img src="/frontend/views/responsive/img/bg-main02-verti.jpg" alt=""></span>
								<dl>
									<dt>뮬란</dt>
								</dl>
							</a>
						</li>
						<li class="list03">
							<a href="javascript:void(0)">
								<i class="fas fa-heart"></i>
								<span><img src="/frontend/views/responsive/img/bg-main03-verti.jpg" alt=""></span>
								<dl>
									<dt>어벤저스:엔드게임</dt>
								</dl>
							</a>
						</li>
						<li class="list04">
							<a href="javascript:void(0)">
								<i class="fas fa-heart"></i>
								<span><img src="/frontend/views/responsive/img/bg-main04-verti.jpg" alt=""></span>
								<dl>
									<dt>알라딘</dt>
								</dl>
							</a>
						</li>
					</ul>
				</div>
				<div class="btn-single">
					<button type="button" class="btn-color02">전체보기</button>
				</div>
			</div>
		</div><!-- category -->

		<div class="section banner">
			<div class="inner">
				<div class="timetable">
					<span><strong>12월 24일🎄 <small>· 혼자라도 괜찮아</small></strong><em>마블 몰아보기 스트리밍</em></span>
					<div class="timetable-cont swiper-container">
						<div class="swiper-wrapper">
							<ul class="swiper-slide">
								<li>
									<dl>
										<dt>아이언맨 1</dt>
										<dd>04:00</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dt>인크레더블 헐크</dt>
										<dd>06:00</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dt>아이언맨 2</dt>
										<dd>08:00</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dt>토르:천둥의 신</dt>
										<dd>10:00</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dt>퍼스트 어벤저</dt>
										<dd>12:00</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dt>어벤저스</dt>
										<dd>14:00</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dt>아이언맨 3</dt>
										<dd>16:00</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dt>토르:다크월드</dt>
										<dd>18:00</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dt>캡틴 아메리카:윈터솔져</dt>
										<dd>20:00</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dt>가디언즈 오브 갤럭시</dt>
										<dd>22:00</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dt>어벤저스:에이지 오브 울트론</dt>
										<dd>24:00</dd>
									</dl>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="timetable">
					<span><strong>12월 25일🎅 <small>· 집에 있어도 괜찮아</small></strong><em>마블 세계관 이어보기</em></span>
					<div class="timetable-cont swiper-container">
						<div class="swiper-wrapper">
							<ul class="swiper-slide">
								<li>
									<dl>
										<dt>앤트맨</dt>
										<dd>04:00</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dt>캡틴 아메리가:시빌워</dt>
										<dd>06:00</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dt>닥터 스트레인지</dt>
										<dd>08:00</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dt>가디언즈 오브 갤럭시 vol.2</dt>
										<dd>10:00</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dt>스파이더맨:홈커밍</dt>
										<dd>12:00</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dt>토르:라그나로크</dt>
										<dd>14:00</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dt>블랙팬서</dt>
										<dd>16:00</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dt>어벤저스:인피니티 워</dt>
										<dd>18:00</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dt>앤트맨과 와스프</dt>
										<dd>20:00</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dt>캡틴마블</dt>
										<dd>22:00</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dt>어벤저스:엔드게임</dt>
										<dd>24:00</dd>
									</dl>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div> 
		</div><!-- banner -->
		<script>
			var swiper = new Swiper('.timetable-cont.swiper-container', {
			  direction: 'horizontal',
			  slidesPerView: 'auto',
			  freeMode: true,
			  scrollbar: {
				el: '.swiper-scrollbar',
			  },
			  mousewheel: false,
			});
		</script>

		<div class="section news">
			<div class="inner">
				<h4>News</h4>
				<div class="news-list">
					<ul>
						<li>
							<a href="javascript:void(0)">
								<strong>Disney plus korea</strong>
								디즈니 플러스가 한국에 런칭했습니다.
							</a>
						</li>
						<li>
							<a href="javascript:void(0)">
								<strong>Disney plus exclusive</strong>
								디즈니 플러스에서만 볼 수 있는 VOD를 즐겨보세요. 매월 업로드 되는 새로운 VOD!
							</a>
						</li>
						<li>
							<a  href="javascript:void(0)">
								<strong>VOD Subscription</strong>
								월 9,500원으로 구독하세요. 1년 구독하면 16% 더 절약된 93,000원에 즐길 수 있어요.
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div><!-- news -->
		<script>
			TweenMax.killAll();

			new TweenMax.staggerFromTo('.news-list > ul > li', 0.4,{y:20,opacity:0,},{y: 0,opacity:1},0.2);
		</script>
		
	</div><!-- container -->
</body>
</html>